<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<title>Inicio</title>

<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>


	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<div class="container">
			<div class="navbar-header">
				
				<a class="navbar-brand" href="#" th:href="@{/}">Login MVC</a>
					
			</div>
			
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
		
			<ul class="navbar-nav">
			
				<li class="nav-item">
				
					<a class="nav-link" th:href="@{/contratos}">Control de contratos</a>
				
				</li>
				
				<li class="nav-item">
					<a th:href="@{/ejercicio}" class="nav-link" >Ejercicio</a>
				</li>
				<li class="nav-item"><a th:href="@{/fechasfiltro}" class="nav-link" >Fechas</a></li>
				
			
			</ul>
		
		</div>
			
			
				
		
			
			
			
		</div>
	</nav>

	<br>
	<br>

	<div class="container">
		<h1>Login Spring MVC Ingeniería Web</h1>
		<br>
		
		<h2>MVC de Contratos</h2>
		
		
				
		
		
	</div>




</body>
</html>














